@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Confirmación de cambio de contraseña";
}

<h1>@ViewData["Title"]</h1>
<p>
    Busque en su email el correo con las instrucciones para el cambio de contraseña.
</p>

