@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Confirmación de cambio de contraseña";
}

<h1>@ViewData["Title"]</h1>
<p>
    Su contraseña cambió. Por favor <a asp-page="./Login">click acá para iniciar sesión.</a>.
</p>
