@model IEnumerable<Inventory.Models.ViewModel.AppUserViewModel>
@using Inventory.Utility

@{
    ViewData["Title"] = "Controlador de Usuarios";
}<div class="container-fluid">
     <div class="row">
         <div class="col-sm-12 col-md-6 col-lg-6 ">
            <h3 class="text-dark">Controlador de Usuarios</h3>
         </div>
         <div class="col-sm-12 col-md-6 col-lg-6 text-right">
            <a asp-controller="Usuarios" asp-action="Create" class="btn btn-dark col-sm-12 col-md-12 col-lg-3">Crear Usuario</a>
         </div>
     </div>

    <hr class="bg-warning" />
    <br />
    <div class="table-responsive">
        <table class="table table-hover" id="tbUsers">
            <thead>
                <tr>
                    <th width="20%">@Html.DisplayNameFor(u => u.User.Email)</th>
                    <th width="25%">Nombre Usuario</th>
                    <th width="10%">Rol usuario</th>
                    <th width="20%">Empresa Asociada</th>
                    <th width="15%">Acciones</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>

</div>


@section Scripts
{

    <script>
        // Trae la lista de usuarios
        $(document).ready(function () {           
            

            $("#tbUsers").DataTable({                
                responsive: true,
                pageLength: 10,                
                destroy: true,
                processing: true,                               
                buttons: [
                    //'excel', 'pdf', 'print'
                ],
                ajax: {
                    url: "/Admin/Usuarios/GetUsers",
                    type: "GET",
                    datatype: "json"
                },                
                columns: [
                    { data: "email" },
                    {
                        data: "nombre",
                        render: function (dt) {
                            var lowerText = dt.toLowerCase();
                            var finalText = lowerText.charAt(0).toUpperCase() + lowerText.slice(1);
                            return finalText;
                        }
                    },
                    {
                        data: "rol",
                        render: function (dt) {
                            switch (dt) {
                                case 'Externo':
                                    return '<span class="text-info">' + dt + '</span>'
                                    break;

                                case 'Admin':
                                    return '<span class="text-danger">' + dt + '</span>'
                                    break;

                                case 'User':
                                    return '<span class="text-orange">' + dt + '</span>'
                                    break;
                                case 'Control':
                                    return '<span class="text-primary">' + dt + '</span>'
                                    break;
                            }
                        }
                    },
                    {
                        data: "empresa",
                        render: function (dt) {
                            var lowerText = dt.toLowerCase();
                            var finalText = lowerText.charAt(0).toUpperCase() + lowerText.slice(1);
                            return finalText;
                        }
                    },
                    {
                            "mRender": function (data, type, row) {
                                var linkEdit = '<a href="Usuarios/Edit/'+row.id+'" class="btn btn-outline-dark btn-sm"><span class="oi oi-wrench"></span></a>';                                                                                                
                                var linkDelete = '<a href="Usuarios/Delete/'+row.id+'" class="btn btn-outline-danger btn-sm"><span class="oi oi-trash"></span></a>';
                                return linkEdit + ' ' + linkDelete;
                            }
                        }
                ]
            });
        });
    </script>

}