@model Inventory.Models.ViewModel.MovementViewModel

@{
    ViewData["Title"] = "Stock Empresas";
}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6">
            <h3 class="text-dark"><span class="oi oi-transfer"></span> @ViewData["Title"]</h3>
        </div>      
    </div>
    <hr class="bg-warning" />
    <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-6">
            <label asp-for="Movimiento.Empresa"></label>
            <select asp-for="Movimiento.EmpresaId" asp-items="(SelectList)@ViewData["EmpresaId"]" class="form-control" id="selectEmpresa">
                <option value="">Seleccionar una Empresa</option>
            </select>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6 text-right">
            <button onclick="GetDatosMovimiento();" class="btn btn-warning col-sm-6 col-md-12 col-lg-6" style="margin-top: 30px;"><span class="oi oi-magnifying-glass"></span>Buscar</button>
        </div>
    </div>
    <br />
    <div class="table-responsive">
        <table class="table table-sm" id="tablaMov">
            <thead>
                <tr>
                    <th>SKU</th>
                    <th>Nombre Producto</th>                    
                    <th>Saldo</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>


@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>

        function GetDatosMovimiento() {
            if ($("#selectEmpresa").val() > 0) {

                var idEmpresa = $("#selectEmpresa").val();

                $("#tablaMov").DataTable({
                    pageLength: 10,
                    destroy: true,
                    dom: 'Bfrtip',
                    processing: true,
                    buttons: [
                        'csv', 'excel', 'pdf','print'
                    ],
                    ajax: {
                        url: "/User/Home/GetStockGeneral",
                        type: "GET",
                        data: { "idEmpresa": idEmpresa },
                        datatype: "json",

                    },
                    "columns": [
                        { "data": "producto.sku" },
                        { "data": "producto.nombre" },                        
                        { "data": "saldo" },
                     
                    ]
                });

            }
            else
                Swal.fire("Información", "Debe seleccionar al menos una empresa", "error");
        }


    </script>
}